.col-4,.col-8 {
	padding-right: 0px;
	padding-left: 0px;
}

.deletecross {
	font-size: 22px;
}

.row	{
	margin: 0;
}


.alert {
	margin-bottom: 0;
}

.modal-footer button a {
    text-decoration: none;
}

.submit {
    margin-top: 5px;
}
